<ion-header>
  <ion-toolbar>
    <ion-title>
      MOVIS Rocks!!!!
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon (click)="onBeerClicked()" name="beer" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of cardData">
    <img src="../../assets/shapes.svg" alt="Imagen SVG">
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
      <ion-card-subtitle>{{item.subtitle}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{item.contentText}}
    </ion-card-content>
    <div>
      <ion-buttons class="ion-justify-content-end">
        <ion-button (click)="openAlert()">Alerta</ion-button>
      </ion-buttons>
    </div>
  </ion-card>
</ion-content>
